---
import Layout from "../../layouts/Layout.astro";
import { Author, contentfulClient } from "../../lib/contentful";
import type { BlogPost } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import AuthorBadge from "../../components/authorBadge";
import { calculateTTR } from "../../lib/ttr";
import PostInfo from "../../components/postInfo";
import ProgressBar from "../../components/progressBar";

interface Props {
  title: string;
  description: string;
  date: string;
  author: Author;
  tags: string[];
  moreReading: BlogPost[];
  ttr: number;
  content: string;
}

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const pages = items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      description: item.fields.description,
      author: item.fields.author.fields,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      moreReading: item.fields.moreReading.map((x) => x.fields),
      ttr: calculateTTR(item.fields.content),
      tags: item.metadata.tags.map((x) => x.sys.id),
    },
  }));

  return pages;
}

const { title, description, author, tags, content, date, moreReading, ttr } =
  Astro.props;
---

<Layout title={title + "WhatFor"}>
  <main class="mx-auto max-w-lg">
    {ttr >= 3 && <ProgressBar client:load />}
    <h1 class="text-3xl">{title}</h1>
    <AuthorBadge author={author} />
    <PostInfo ttr={ttr} date={date} tags={tags} />
    <hr />
    <article set:html={content} />
    <hr />
    <h3 class="mt-3">More reading:</h3>
    {
      moreReading.map((blogPost: BlogPost) => (
        <a href={"/blog/" + blogPost.slug}>{blogPost.title}</a>
      ))
    }
  </main>
</Layout>
