---
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import AuthorBadge from "../components/authorBadge";
import { calculateTTR } from "../lib/ttr";
import PostInfo from "../components/postInfo";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
});

const posts = entries.items.map((item) => {
	const { title, date, description, slug, author } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date).toLocaleDateString(),
		author: author.fields,
		tags: item.metadata.tags.map(x => x.sys.id),
		ttr: calculateTTR(item.fields.content),
	};
});
---

<Layout title="WhatFor | Technical Blog">
	<main class="space-y-5 mx-auto max-w-5xl">
		<h1 class="text-4xl">Chris Walker Technical Blog</h1>
		{
			posts.map((post) => (
				<div class="bg-slate-400">
					<a class="" href={`/blog/${post.slug}/`}>
						<h2 class="text-2xl underline">{post.title}</h2>
					</a>
					<div>
						<AuthorBadge author={post.author} />
					</div>
					<PostInfo
						ttr={post.ttr}
						tags={post.tags}
						date={post.date}
					/>
					<p>{post.description}</p>
				</div>
			))
		}
		<div class="h-64 bg-blue-200"></div>
		<div class="h-64 bg-blue-200"></div>
		<div class="h-64 bg-blue-200"></div>
		<div class="h-64 bg-blue-200"></div>
		<div class="h-64 bg-blue-200"></div>
	</main>
</Layout>
